In [1]:
import pandas as pd
import numpy as np

#Using a package you should now be quite familiar with, let's grab some real-world data available on the web 
wiki_url = 'https://en.wikipedia.org/wiki/List_of_potentially_habitable_exoplanets'
df = pd.read_html(wiki_url, match="Object")[0]
print(df)

                            Object        Star Star type           Mass (M⊕)  \
0   Earth (reported for reference)         Sun       G2V                1.00
1   Venus (reported for reference)         Sun       G2V               0.815
2    Mars (reported for reference)         Sun       G2V               0.107
3                      Gliese 12 b   Gliese 12       M4V  0.71 or 0.95[7][8]
4                     Gliese 163 c  Gliese 163       M3V               ≥6.80
..                             ...         ...       ...                 ...
61                     TRAPPIST-1e  TRAPPIST-1       M8V                0.69
62                     TRAPPIST-1f  TRAPPIST-1       M8V                1.04
63                     TRAPPIST-1g  TRAPPIST-1       M8V                1.32
64                     Wolf 1069 b   Wolf 1069       M5V               ≥1.26
65                      Wolf 1061c   Wolf 1061       M3V               ≥3.41

              Radius (R⊕) Density (g/cm3) Flux (F⊕)  Teq (K)  Period (days)  \
0                    1.00           5.514      1.00      255         365.25
1                   0.950           5.243     1.911  244.261         224.70
2                   0.533           3.934     0.431    209.8         686.98
3   0.904+0.037 −0.034[8]      5.3 or 7.1   1.6±0.2      315          12.70
4                       —               —      1.25      277          25.60
..                    ...             ...       ...      ...            ...
61                   0.92            5.65      0.65      230           6.10
62                   1.04       3.3 ± 0.9      0.37      200           9.20
63                   1.13           4.186      0.25      182          12.40
64                  ~1.08               —      0.65      250          15.60
65                  ~1.60               —      1.30      271          17.90

           Distance (ly)                                  Refs/notes
0                      0       Only planet confirmed to support life
1              0.0000042                                         [5]
2   0.0000058 - 0.000042                                         [6]
3                   39.7  Might resemble Venus and be unhabitable[9]
4                     49                                         [1]
..                   ...                                         ...
61                    41               Confirmed to be rocky[50][51]
62                    41               Confirmed to be rocky[50][51]
63                    41               Confirmed to be rocky[50][51]
64                  31.2                                        [52]
65                  13.8                                         [1]

[66 rows x 11 columns]

In [2]:
#Teq and Period only, and perform a cleanup:
df_teq_vs_period_cleaned_nan = df[["Object", "Teq (K)", "Period (days)"]].dropna()
df_teq_vs_period_cleaned_teq = df_teq_vs_period_cleaned_nan[~df_teq_vs_period_cleaned_nan['Teq (K)'].isin(['214 [9]', '256+61 −17', '~280'])]
df_teq_vs_period_final_clean = df_teq_vs_period_cleaned_teq[~df_teq_vs_period_cleaned_teq['Period (days)'].isin(['12.76144±0.00006'])].reset_index(drop=True)

In [3]:
# The new Data after cleaning
df_teq_vs_period_final_clean

                            Object  Teq (K)  Period (days)
0   Earth (reported for reference)      255        365.250
1   Venus (reported for reference)  244.261        224.700
2    Mars (reported for reference)    209.8        686.980
3                      Gliese 12 b      315         12.700
4                     Gliese 163 c      277         25.600
5                     Gliese 357 d      200         55.700
6                     Gliese 514 b      202        140.400
7                     Gliese 555 b  214[11]         36.200
8                    Gliese 667 Cc      277         28.100
9                    Gliese 1002 b      231         10.300
10                   Gliese 1002 c      182         21.200
11                       GJ 1061 c      275          6.700
12                       GJ 1061 d      218         13.000
13                       GJ 3293 d      223         48.100
14                           K2-9b      279         18.400
15                          K2-72e      261         24.200
16                        K2-288Bb      207         31.400
17                      Kepler-22b      261        289.900
18                      Kepler-62e      264        122.400
19                      Kepler-62f      204        267.300
20                     Kepler-174d      206        247.400
21                     Kepler-186f      188        129.900
22                     Kepler-283c      248         92.700
23                     Kepler-296e      276         34.100
24                     Kepler-296f      225         63.300
25                     Kepler-442b      233        112.300
26                     Kepler-440b      273        101.100
27                     Kepler-443b      247        177.700
28                     Kepler-705b      243         56.100
29                    Kepler-1229b      213         86.800
30                    Kepler-1410b      274         60.900
31                    Kepler-1540b      250        125.400
32                   Kepler-1544 b      248        168.800
33                    Kepler-1606b      277        196.400
34                    Kepler-1649c      237         19.500
35                    Kepler-1652b      244         38.100
36                    Kepler-1653b      258        140.300
37                    Kepler-1701b      275        169.100
38                      LHS 1140 b      226         24.700
39                      LP 890-9 c      272          8.460
40                        Luyten b      258         18.650
41              Proxima Centauri b      228         11.186
42                      Ross 128 b      280          9.870
43              Teegarden's Star b      264          4.910
44              Teegarden's Star c      199         11.400
45                       TOI-700 d      246         37.400
46                       TOI-700 e      273         27.800
47                       TOI-715 b      234         19.290
48                     TRAPPIST-1d      258          4.050
49                     TRAPPIST-1e      230          6.100
50                     TRAPPIST-1f      200          9.200
51                     TRAPPIST-1g      182         12.400
52                     Wolf 1069 b      250         15.600
53                      Wolf 1061c      271         17.900

In [4]:
df_teq_vs_period_final_clean.loc[7, "Teq (K)"] = 214

In [5]:
df_teq_vs_period_final_clean

                            Object  Teq (K)  Period (days)
0   Earth (reported for reference)      255        365.250
1   Venus (reported for reference)  244.261        224.700
2    Mars (reported for reference)    209.8        686.980
3                      Gliese 12 b      315         12.700
4                     Gliese 163 c      277         25.600
5                     Gliese 357 d      200         55.700
6                     Gliese 514 b      202        140.400
7                     Gliese 555 b      214         36.200
8                    Gliese 667 Cc      277         28.100
9                    Gliese 1002 b      231         10.300
10                   Gliese 1002 c      182         21.200
11                       GJ 1061 c      275          6.700
12                       GJ 1061 d      218         13.000
13                       GJ 3293 d      223         48.100
14                           K2-9b      279         18.400
15                          K2-72e      261         24.200
16                        K2-288Bb      207         31.400
17                      Kepler-22b      261        289.900
18                      Kepler-62e      264        122.400
19                      Kepler-62f      204        267.300
20                     Kepler-174d      206        247.400
21                     Kepler-186f      188        129.900
22                     Kepler-283c      248         92.700
23                     Kepler-296e      276         34.100
24                     Kepler-296f      225         63.300
25                     Kepler-442b      233        112.300
26                     Kepler-440b      273        101.100
27                     Kepler-443b      247        177.700
28                     Kepler-705b      243         56.100
29                    Kepler-1229b      213         86.800
30                    Kepler-1410b      274         60.900
31                    Kepler-1540b      250        125.400
32                   Kepler-1544 b      248        168.800
33                    Kepler-1606b      277        196.400
34                    Kepler-1649c      237         19.500
35                    Kepler-1652b      244         38.100
36                    Kepler-1653b      258        140.300
37                    Kepler-1701b      275        169.100
38                      LHS 1140 b      226         24.700
39                      LP 890-9 c      272          8.460
40                        Luyten b      258         18.650
41              Proxima Centauri b      228         11.186
42                      Ross 128 b      280          9.870
43              Teegarden's Star b      264          4.910
44              Teegarden's Star c      199         11.400
45                       TOI-700 d      246         37.400
46                       TOI-700 e      273         27.800
47                       TOI-715 b      234         19.290
48                     TRAPPIST-1d      258          4.050
49                     TRAPPIST-1e      230          6.100
50                     TRAPPIST-1f      200          9.200
51                     TRAPPIST-1g      182         12.400
52                     Wolf 1069 b      250         15.600
53                      Wolf 1061c      271         17.900

In [6]:
#Then, let's convert each column to a numpy array:
teq = df_teq_vs_period_final_clean["Teq (K)"].to_numpy().astype(float)
period = df_teq_vs_period_final_clean["Period (days)"].to_numpy().astype(float)

In [7]:
df_teq_vs_period_final_clean

                            Object  Teq (K)  Period (days)
0   Earth (reported for reference)      255        365.250
1   Venus (reported for reference)  244.261        224.700
2    Mars (reported for reference)    209.8        686.980
3                      Gliese 12 b      315         12.700
4                     Gliese 163 c      277         25.600
5                     Gliese 357 d      200         55.700
6                     Gliese 514 b      202        140.400
7                     Gliese 555 b      214         36.200
8                    Gliese 667 Cc      277         28.100
9                    Gliese 1002 b      231         10.300
10                   Gliese 1002 c      182         21.200
11                       GJ 1061 c      275          6.700
12                       GJ 1061 d      218         13.000
13                       GJ 3293 d      223         48.100
14                           K2-9b      279         18.400
15                          K2-72e      261         24.200
16                        K2-288Bb      207         31.400
17                      Kepler-22b      261        289.900
18                      Kepler-62e      264        122.400
19                      Kepler-62f      204        267.300
20                     Kepler-174d      206        247.400
21                     Kepler-186f      188        129.900
22                     Kepler-283c      248         92.700
23                     Kepler-296e      276         34.100
24                     Kepler-296f      225         63.300
25                     Kepler-442b      233        112.300
26                     Kepler-440b      273        101.100
27                     Kepler-443b      247        177.700
28                     Kepler-705b      243         56.100
29                    Kepler-1229b      213         86.800
30                    Kepler-1410b      274         60.900
31                    Kepler-1540b      250        125.400
32                   Kepler-1544 b      248        168.800
33                    Kepler-1606b      277        196.400
34                    Kepler-1649c      237         19.500
35                    Kepler-1652b      244         38.100
36                    Kepler-1653b      258        140.300
37                    Kepler-1701b      275        169.100
38                      LHS 1140 b      226         24.700
39                      LP 890-9 c      272          8.460
40                        Luyten b      258         18.650
41              Proxima Centauri b      228         11.186
42                      Ross 128 b      280          9.870
43              Teegarden's Star b      264          4.910
44              Teegarden's Star c      199         11.400
45                       TOI-700 d      246         37.400
46                       TOI-700 e      273         27.800
47                       TOI-715 b      234         19.290
48                     TRAPPIST-1d      258          4.050
49                     TRAPPIST-1e      230          6.100
50                     TRAPPIST-1f      200          9.200
51                     TRAPPIST-1g      182         12.400
52                     Wolf 1069 b      250         15.600
53                      Wolf 1061c      271         17.900